<%- include('partials/header') %>

<% if (!isAuthenticated) { %>
      <main>
<div class="home-page">
    <section class="welcome-section-home">
      <div class="text-section">
         <h1>View Members Profiles</h1>
      <p>
        Please login to view members profiles and experience real-time communication. Connect,
          collaborate, and communicate seamlessly.
      </p>
          <div class="cta-buttons">
            <a href="/signup" class="cta-button-1">Sign Up</a>
            <a href="/login" class="cta-button-2">Log In</a>
          </div>
      </div>

      <div class="image-section">
        <img src="/images/chatBubbleGreen.png" alt="green chat bubble" class="chat-bubble">
        <img src="/images/homePic.jpg" alt="People using laptops" class="welcome-image">
      </div>
    </section>
  </div></main>
<% } else { %>
  <main>
    <div class="admin-dashboard-container">
      <div class="dashboard-header">
        <h1>Members Profiles</h1>
      </div>

      <div class="members-list">
        <div class="member-cards">
          <% users.forEach(user => { %>
            <div class="member-card">
              <a href="/profile/<%= user.username %>" class="member-link">
                <img src="/images/profile.logo.png" alt="<%= user.username %> profile picture" class="profile-pic">
                <h4><%= user.username %></h4>
              </a>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </main>
<% } %>

<%- include('partials/footer') %>
